body {
  background: #212529;
  max-width: 800px;
  margin: 0px auto;
  margin-top: 85px;
}

.hr-new {
  border-top: 5px solid #fff;
  background: #212529;
  text-align: center;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  opacity: 100%;
  border-radius: 15px;
}

.logo-fix {
  font-family: "Reggae One";
  font-size: 42px;
}

.navbar-styling {
  font-family: "Zilla Slab";
  transition: all 150ms ease;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
}

.navbar-styling:hover {
  background: #1c1025;
  border-radius: 5px;
  color: #4b474e;
}

h1 {
  color: #fff;
  font-family: "Zilla Slab";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: rgb(221, 171, 236);
  font-family: "Zilla Slab";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.profile-pic {
  border: 1px solid #1c1025;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 25px rgb(221, 171, 236);
  display: flex;
  justify-content: center;
}

.contact-me {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Reggae One";
  font-size: 18px;
  transition: all 150ms ease;
  display: block;
  margin: 0px auto;
}

.contact-me:hover {
  background: #1c1025;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}

p {
  font-family: "Zilla Slab";
  font-size: 16px;
  color: #1c1025;
  margin: 0px 15px;
  text-align: justify;
}

.container {
  max-width: 750px;
  margin: 0px auto;
  padding: 0px auto;
}

.align-right {
  display: flex;
  align-items: flex-end;
}

h3 {
  color: rgb(221, 171, 236);
  font-family: "Zilla Slab";
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 45px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4 {
  color: rgb(221, 171, 236);
  font-family: "Zilla Slab";
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.project-text {
  margin: 0px 0px;
  padding: 0px 0px;
  margin: 0px 45px;
  text-align: center;
  font-weight: bold;
  background: rgb(221, 171, 236);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #1c1025;
  color: #1c1025;
}

.shade {
  background: rgb(221, 171, 236);
  border: 1px solid #1c1025;
  color: #1c1025;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  padding: 15px 15px;
}

button:hover {
  background: #1c1025;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}

.project-pic-two {
  border: 1px solid #1c1025;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(221, 171, 236);
}

h5 {
  color: #1c1025;
  font-family: "Zilla Slab";
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
  text-shadow: #fff;
  text-decoration-color: #fff;
  font-weight: bold;
}

.app-link {
  border: 1px solid #1c1025;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Zilla Slab";
  font-size: 18px;
  transition: all 150ms ease;
  display: block;
  margin: 0px auto;
  text-decoration: none;
  max-width: 75%;
  color: #1c1025;
  background: #fff;
}

.app-link:hover {
  background: #1c1025;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}
